<!--
<app-test></app-test>
<app-test2></app-test2>
<app-register></app-register>
<app-show-employees></app-show-employees>
<app-show-emp-by-id></app-show-emp-by-id>
<app-products></app-products>
<app-show-employees></app-show-employees>    
<app-login></app-login>
<app-main-page></app-main-page>
<app-main-page></app-main-page>
<app-home-page></app-home-page>
-->

<app-header></app-header>'
<br/>
<marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>

