
Enter Id: <input type="text" name="id" [(ngModel)]="person.id"/><br/>
Enter Name: <input type="text" name="name" [(ngModel)]="person.name"/><br/><br/>

Id:{{person.id}}<br/>
Name:{{person.name}}<br/>
Avg:{{person.avg}}<br/><br/>

<b><u>Address</u></b>
StreetNo : {{person.address.streetNo}}<br/>
City: {{person.address.city}}<br/>
State: {{person.address.state}}<br/><br/>

<b><u>Hobbies</u></b>
<ul>
    <li *ngFor="let hobby of person.hobbies">{{hobby}}</li>
</ul>

<button (click)="buttonSubmit()">ClickMe !</button>